<div class="modal fade" id="createEvent">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="createEventLabel">Создать событие</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" id="createEventForm">

                    <!-- Ремонтный бокс-->
                    <div class="form-group repair_box_id">
                        <label for="repair_box_id" class="col-sm-4 control-label">Ремонтный бокс</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="repair_box_id" name="repair_box_id"></select>
                        </div>
                    </div>

                    <!-- Ремонтный пост-->
                    <div class="form-group repair_post_id">
                        <label for="repair_post_id" class="col-sm-4 control-label">Ремонтный пост</label>

                        <div class="col-sm-8">
                            <select class="form-control" id="repair_post_id" name="repair_post_id"></select>
                        </div>
                    </div>

                    <!-- Вид работы -->
                    <div class="form-group repair_type_id">
                        <label for="repair_type_id" class="col-sm-4 control-label">Вид работы</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="repair_type_id" name="repair_type_id"></select>
                        </div>
                    </div>

                    <!-- Мастер (исполнитель) -->
                    <div class="form-group user_target_name">
                        <label for="user_target_name" class="col-sm-4 control-label">Мастер (исполнитель)</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                                <select class="form-control" id="user_target_name" name="user_target_name"></select>
                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>

                    <!-- Заказчик: ФИО -->
                    <div class="form-group customer_name">
                        <label for="customer_name" class="col-sm-4 control-label">Заказчик: ФИО</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" name="customer_name" id="customer_name"
                                       data-provide="typeahead" pattern="[а-яА-ЯёЁ]{2,64}" required title="Разрешены только буквы кириллицы">
                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>


                    <!-- Заказчик: телефон -->

                    <div class="form-group customer_phone">
                        <label for="customer_phone" class="col-sm-4 control-label">Заказчик: телефон</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                <input type="text" class="form-control" name="customer_phone" id="customer_phone"
                                       data-provide="typeahead" autocomplete="off" pattern="[0-9]{5,12}" required title="Разрешены только цифры">
                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>



                    <!-- Заказчик: VIN авто -->
                    <div class="form-group customer_car_vin">
                        <label for="customer_car_vin" class="col-sm-4 control-label">Заказчик: VIN авто</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="customer_car_vin" id="customer_car_vin"
                                   data-provide="typeahead" autocomplete="off">
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>

                    <!-- Заказчик: Гос. номер авто -->
                    <div class="form-group customer_car_gv_number">
                        <label for="customer_car_gv_number" class="col-sm-4 control-label">Заказчик: Гос. номер
                            авто</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="customer_car_gv_number"
                                   id="customer_car_gv_number" data-provide="typeahead" autocomplete="off">
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>

                    <!-- Заказчик: Модель авто -->
                    <div class="form-group customer_car_name">
                        <label for="customer_car_name" class="col-sm-4 control-label">Заказчик: Модель авто</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="customer_car_name" id="customer_car_name"
                                   data-provide="typeahead" autocomplete="off">
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>

                    <!-- Заказчик: Пробег авто -->
                    <div class="form-group customer_car_mileage">
                        <label for="customer_car_mileage" class="col-sm-4 control-label">Заказчик: Пробег авто</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="customer_car_mileage"
                                   id="customer_car_mileage" data-provide="typeahead" autocomplete="off">
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>

                    <!-- Начало в-->
                    <div class="form-group startdatetime">
                        <label for="startdatetime" class="col-sm-4 control-label">Начало в:</label>

                        <div class='col-sm-8'>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input type='text' class="form-control" id="startdatetime" name="startdatetime"/>
                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>

                    <!-- Окончание в-->
                    <div class="form-group enddatetime">
                        <label for="enddatetime" class="col-sm-4 control-label">Завершение в:</label>
                        <div class='col-sm-8'>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input type='text' class="form-control" id="enddatetime" name="enddatetime"/>
                            </div>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="form-group state">
                        <label for="state" class="col-sm-4 control-label">Статус</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="state" name="state"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" name="closeModalEventBtn" id="closeModalEventBtn" data-dismiss="modal">Закрыть</button>
                <button type="submit" name="sendBtn" id="sendCreateBtn" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal List Events-->